<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>
<body>
    <div th:replace="~{components/header :: header}"></div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card border border-success shadow">
                    <div class="card-header bg-success text-light">
                        Student form
                    </div>
                    <div class="card-body">
                        <form class="form" th:action="@{/students/process-form}" method="POST" th:object="${student}">

                            <!--Hidden field for student id-->
                            <input type="hidden" th:field="*{id}">

                            <div class="form-group mb-3">
                                <label>First Name</label>
                                <input type="text" th:field="*{firstName}" th:errorclass="is-invalid" class="form-control">

                                <div th:if="${#fields.hasErrors('firstName')}"
                                    th:errors="*{firstName}"
                                     class="text-danger fst-italic"
                                ></div>

                            </div>

                            <div class="form-group mb-3">
                                <label>Last Name</label>
                                <input type="text" th:field="*{lastName}" th:errorclass="is-invalid" class="form-control">

                                <div th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}"
                                     class="text-danger fst-italic"
                                ></div>

                            </div>

                            <div class="form-group mb-3">
                                <label>Email</label>
                                <input type="text" th:field="*{email}" th:errorclass="is-invalid" class="form-control">

                                <div th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}"
                                     class="text-danger fst-italic"
                                ></div>

                            </div>

                            <button class="btn btn-sm btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>